numpy
tqdm
einops
kornia
omegaconf
torchmetrics==0.6.0
transformers
requests
opencv-python
pytorch-lightning==1.4.2
open-clip-torch==2.7.0
git+https://github.com/openai/CLIP.git@main#egg=clip
timm
scikit-image
jsonmerge
clean-fid
resize_right
torchdiffeq
torchsde
ipywidgets

